/*
Write intial framework
stile left
style up-right
style up-right 2 
style cards
style right 1
style right 2
Add icons
Add colors
Add shades
Add Hover
Add Active
*/
*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: "Roboto Slab";
    src: url(/assets/font-family/RobotoSlab-VariableFont_wght.ttf);
}
html,
body{
    height: 100%;
}
body{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 220px 1fr;
    background-color: #ECFEFF;
    font-family: "Roboto Slab";
}
.left-container{
    grid-row: 1/3;
    background-color: #0284C7;
}
.main-container{
    grid-row: 2/3;
    grid-column: 2/4;
}
.right-nav{
    grid-row: 2/3;
    grid-column: 4/5;
}
.left-logo{
    color: white;
    padding: 1.5rem;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 500;
}
.left-logo-img{
    height: 80px;
}
a{
    text-decoration: none;
}
.menu-item{
    color: white;
    font-weight: 700;
    display: flex;
    gap: 1rem;
}
a:visited{
    color: white;
}
.left-menu{
    font-size: 1.2rem;
    display: grid;
    grid-row: repeat(6,1fr);
    gap: 1rem;
    padding: 2.5rem;
}
.left-secondaryMenu{
    font-size: 1.2rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 2rem;
    gap: 1rem;
}
.top-container{
    background-color: white;
    grid-row: 1/2;
    grid-column: 2/5;
    display: flex;
    flex-direction: column;
}
.top-searchCont{
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profilePic-small{
    width: 50px;
}
.searchBar-input{
    width: 800px;
    background-color: #ECFEFF;
    border-radius: 16px;
}
.empty{
    flex-shrink: 1;
}
.top-profileName{
    font-size: 1.5rem;
    font-weight: bold;
    user-select: none;
}
.searchBar-icon{
    display: flex;
    align-items: center;
    margin-right: -20px;
}
.searchBar-link{
    display: flex;
    align-items: center;
}
.profile-cont{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 2rem;
}
.top-profileView{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.profileView-link{
    display: flex;
    align-items: center;
}
.profilePic-big{
    width: 80px;
}
.profileView-textCont{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
}
.profileView-profileHead{
    font-size: 1.5rem;
}
.profileView-profileName{
    font-size: 2rem;
}
.profileView-buttonCont{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
}
.profileView-button{
    color: white;
    background-color: #0284C7;
    padding: 1rem;
    border-radius: 20%;
}
.profileView-empty{
    flex-grow: .5;
    flex-shrink: 1;
}
.profileView-textCont{
    display: flex;
    flex-direction: column;
    align-items:initial;
}
.main-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding: 2rem;
    gap: 2rem;
}
.card-item{
    padding: 2rem;
    padding-bottom: 1rem;
    border-radius: 12px;
    background-color: white;
    box-shadow: -7px 0 orange;
}
.card-lowerCont{
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
    padding: 1rem;
}
.legend{
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.right-nav{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
}
.announcements-cont{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.announcements-legend{
    font-size: 1.5rem;
    font-weight: bold;
    padding: .5rem;
}
.trending-itemCont{
    background-color: white;
    border-radius: 12px;
}
.announcements-cardCont{
    background-color: white;
    border-radius: 12px; 
}
.announcements-card{
    padding: 1rem;
}
.trending-item{
    padding-left: 1rem;
    padding-right: 1rem;
}
.announcement-heading{
    font-weight: bold;
    margin-bottom: .5rem;
}
.trending-head{
    font-weight: bold;
    margin-bottom: .5rem;
}
img {
    max-width: 100%;
}
@media screen and (max-width: 800px) {
    .left-container,
    .trending-cont,
    .announcements-cont{
        display: none;
    }
    .main-container{
        grid-row: 2/3;
        grid-column: 1/4;
    }
    .top-container{
        grid-column: 1/5;
    }
    .main-cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        padding: 2rem;
        gap: 2rem;
    }
    .card-item{
        padding: 2rem;
        padding-bottom: 1rem;
        border-radius: 12px;
        background-color: white;
        box-shadow: -7px 0 orange;
    }
}

/* Imported from https://getcssscan.com/css-buttons-examples */
.button-21 {
  align-items: center;
  appearance: none;
  background-color: #0284C7;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}
